body{
    margin: 0;
    background-color: #181818;
    color: antiquewhite;
    font-family: monospace;
    padding: 1.16em;
}

.menu{
    display: flex;
}

.menu-item{
    margin-left: 1.16em;
}

.container-flexivel{
    display: flex;
    flex-wrap: wrap;
}

.caixa-flexivel{
    padding: 1.618em
}

a {
  text-decoration: none;
  color: antiquewhite;
}

a:visited{
    color: antiquewhite;
}

a:hover{
    text-decoration: overline;
    color: darksalmon;
}

img{
    border-radius: 10em;
}